/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial Narrow, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    background: rgb(44, 158, 147);
    color:white;
    margin-bottom: 0;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
}
li{
    padding:20px;
    font-size: 20px;
}
busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 200px; 
    
}
main{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom:100px;
    position: relative;
}
li .nombre{
    font-size:30px;
    position:absolute;
    left: 100px;
    top:15px;
}
h1{
    margin-bottom: 20px;
}
p{
    margin-bottom: 15px;
}
select{
    width:150px;
    height: 50px;
    font-family: sans-serif;
    font-size:15px;
    padding-left: 10px;
}
input[type="text"]{
    width:260px;
    height: 50px;
    font-family: sans-serif;
    font-size:15px;
    padding-left: 10px;
}
a{
    cursor: pointer;
    text-decoration: none;
    color:white;
}
li a{
    text-decoration: none;
    color:white;
}
footer{
    background: rgb(39, 37, 37);
    color:white;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height:250px;
    
}
.contenido{
    margin-right: 30px;
}
.ul-footer{
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 50px 0;
    padding:0;
}

.li-footer  {
    margin: 0;
    padding: 0;
    font-size: 17px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
}
h1 a{
    text-decoration: none;
    color:white;
    font-size:30px;
}
.menu {
    position: relative;
    display: inline-block;
}

#menuButton {
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Estilos para mostrar el menú al pasar el ratón sobre el botón */
.menu:hover .dropdown-content {
    display: block;
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Estilos para los enlaces cuando se pasa el ratón sobre ellos */
.dropdown-content a:hover {
    background-color: #ddd;
}
.menu button{
    width: 150px;
    height: 35px;
    border-radius:10px;
    font-size: 20px;
    text-decoration: none;
}
/* Estilo para ocultar en pantallas pequeñas */
@media (max-width: 767px) {
    li .nombre {
        display: none;
    }
}
